{{ define "main" }}
<div class="content">
    {{ if (.Title | len) }}
        <h1>{{ .Title }}</h1>
    {{ end }}

    {{ .Content }}

    {{ if isset .Params "algorithms" }}
        <div class="algorithms">
            {{ range $idx, $algo := .Params.algorithms }}
                <div class="algorithm-card" id="algo-{{ $idx }}">
                    <h2>{{ $algo.name }}</h2>

                    {{ if isset $algo "description" }}
                        <p class="description">{{ $algo.description }}</p>
                    {{ end }}

                    {{ if isset $algo.notation "full" }}
                    <div class="notation-section">
                        <h3>Notation</h3>
                        {{ if isset $algo.notation "short" }}
                            <code class="algorithm-notation">Full:  <strong>{{ $algo.notation.full }}</strong><br/>Short: <strong>{{ $algo.notation.short }}</strong></code>
                        {{ else }}
                            <code class="algorithm-notation"><strong>{{ $algo.notation.full }}</strong></code>
                        {{ end }}
                    </div>
                    {{ end }}

                    {{ if isset $algo.notation "full" }}
                        <div class="cube-wrapper">
                            <div class="cube">
                                <script>
                                    AnimCube{{ $algo.animCube.size | default 3 | safeJS }}(
                                        "buttonbar={{ $algo.animCube.buttonBar | default 1 }}&" +
                                        "buttonheight={{ $algo.animCube.buttonHeight | default 25 }}&" +
                                        "speed={{ $algo.animCube.speed | default 10 }}&" +
                                        "initmove={{ $algo.animCube.initMove | default }}&" +
                                        "initrevmove={{ $algo.animCube.initRevMove | default "#" }}&" +
                                        "move={{ $algo.notation.full }}"
                                    )
                                </script>
                            </div>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    {{ end }}
</div>
{{ end }}

{{ define "headcontent" }}
<link rel="stylesheet" href="/css/cubing.css">
<script src="/js/AnimCube3.js"></script>
{{ end }}
