{{ $s := site.Params.style -}}
:root {
    --font-family: {{ index $s "font-family" }};
    --font-size: {{ index $s "font-size" }}px;

    --background-color: {{ index $s "light-background-color" }};
    --border-color: {{ index $s "light-border-color" }};
    --content-tag-background-color: {{ index $s "light-tag-background-color" }};
    --content-tag-foreground-color: {{ index $s "light-foreground-color" }};
    --foreground-color: {{ index $s "light-foreground-color" }};
    --link-default-color: {{ index $s "light-link-default-color" }};
    --link-visited-color: {{ index $s "light-link-visited-color" }};
    --menu-background: {{ index $s "light-menu-background" }};
    --menu-foreground: {{ index $s "light-menu-foreground" }};
    --menu-item-hover-background: {{ index $s "light-menu-item-hover-background" }};
    --menu-item-hover-foreground: {{ index $s "light-menu-item-hover-foreground" }};

    --code-background-color: {{ index $s "light-code-background-color" }};
    --code-foreground-color: {{ index $s "light-code-foreground-color" }};
    --code-chroma-bg: {{ index $s "light-code-chroma-bg" }};
    --code-chroma-fg: {{ index $s "light-code-chroma-fg" }};
    --code-chroma-dark-red-fg: {{ index $s "light-code-chroma-dark-red-fg" }};
    --code-chroma-dark-red-bg: {{ index $s "light-code-chroma-dark-red-bg" }};
    --code-chroma-dark-gray-fg: {{ index $s "light-code-chroma-dark-gray-fg" }};
    --code-chroma-light-gray-fg: {{ index $s "light-code-chroma-light-gray-fg" }};
    --code-chroma-light-blue-fg: {{ index $s "light-code-chroma-light-blue-fg" }};
    --code-chroma-red-fg: {{ index $s "light-code-chroma-red-fg" }};
    --code-chroma-green-fg: {{ index $s "light-code-chroma-green-fg" }};
    --code-chroma-purple-fg: {{ index $s "light-code-chroma-purple-fg" }};
    --code-chroma-yellow-fg: {{ index $s "light-code-chroma-yellow-fg" }};
    --code-chroma-medium-gray-fg: {{ index $s "light-code-chroma-medium-gray-fg" }};
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: {{ index $s "dark-background-color" }};
        --border-color: {{ index $s "dark-border-color" }};
        --content-tag-background-color: {{ index $s "dark-tag-background-color" }};
        --content-tag-foreground-color: {{ index $s "dark-foreground-color" }};
        --foreground-color: {{ index $s "dark-foreground-color" }};
        --link-default-color: {{ index $s "dark-link-default-color" }};
        --link-visited-color: {{ index $s "dark-link-visited-color" }};
        --menu-background: {{ index $s "dark-menu-background" }};
        --menu-foreground: {{ index $s "dark-menu-foreground" }};
        --menu-item-hover-background: {{ index $s "dark-menu-item-hover-background" }};
        --menu-item-hover-foreground: {{ index $s "dark-menu-item-hover-foreground" }};

        --code-background-color: {{ index $s "dark-code-background-color" }};
        --code-foreground-color: {{ index $s "dark-code-foreground-color" }};
        --code-chroma-bg: {{ index $s "dark-code-chroma-bg" }};
        --code-chroma-fg: {{ index $s "dark-code-chroma-fg" }};
        --code-chroma-dark-red-fg: {{ index $s "dark-code-chroma-dark-red-fg" }};
        --code-chroma-dark-red-bg: {{ index $s "dark-code-chroma-dark-red-bg" }};
        --code-chroma-dark-gray-fg: {{ index $s "dark-code-chroma-dark-gray-fg" }};
        --code-chroma-light-gray-fg: {{ index $s "dark-code-chroma-light-gray-fg" }};
        --code-chroma-light-blue-fg: {{ index $s "dark-code-chroma-light-blue-fg" }};
        --code-chroma-red-fg: {{ index $s "dark-code-chroma-red-fg" }};
        --code-chroma-green-fg: {{ index $s "dark-code-chroma-green-fg" }};
        --code-chroma-purple-fg: {{ index $s "dark-code-chroma-purple-fg" }};
        --code-chroma-yellow-fg: {{ index $s "dark-code-chroma-yellow-fg" }};
        --code-chroma-medium-gray-fg: {{ index $s "dark-code-chroma-medium-gray-fg" }};
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--font-family);
    font-size: var(--font-size);

    body {
        line-height: 1.5;

        a {
            color: var(--link-default-color);

            &:visited {
                color: var(--link-visited-color);
            }

            &[href^="mailto"]::after,
            &[href^="http"]::after,
            &[href^="https://"]::after {
                content: "";
                width: 0.6rem;
                height: 0.6rem;
                margin-left: 0.2rem;
                background-image: url("/img/external-arrow-dark.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;

                @media (prefers-color-scheme: dark) {
                    background-image: url("/img/external-arrow-light.svg");
                }
            }
        }

        header {
            @media only screen and (max-width: 29rem) {
                padding-top: {{ index $s "page-i18n-padding" }}rem;
            }

            div.i18n {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;

                ul {
                    display: inline-block;
                    list-style: none;
                    margin: 0;
                    padding-right: 0.5rem;

                    li {
                        float: left;

                        a {
                            padding-right: 0.25rem;
                            padding-top: 0.5rem;
                            text-decoration: none;
                            display: inline-block;

                            img {
                                height: 2.5rem;
                            }
                        }
                    }
                }
            }

            div.logo {
                text-align: center;
                z-index: 0;
                padding-top: 1rem;
                padding-bottom: 1rem;

                a {
                    display: block;
                    line-height: 0;

                    img {
                        max-height: 13.6rem;
                        max-width: 100%;
                    }
                }
            }

            nav {
                text-align: center;
                font-size: 0;
                border-top: 0.1rem solid var(--border-color);
                border-bottom: 0.1rem solid var(--border-color);
                background-color: var(--menu-background);

                ul {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        float: left;

                        a {
                            display: inline-block;
                            color: var(--menu-foreground);
                            font-size: 1.2rem;
                            line-height: 3.4rem;
                            padding-right: 1rem;
                            padding-left: 1rem;

                            &:hover {
                                background-color: var(--menu-item-hover-background);
                                color: var(--menu-item-hover-foreground);
                            }

                            &:visited {
                                color: var(--foreground-color);
                            }
                        }
                    }
                }
            }
        }

        div.wrapper {
            text-align: center;

            @media only screen and (max-width: {{ mul (index $s "page-content-width-factor") (index $s "font-size") }}px) {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }

            div.content {
                text-align: left;
                display: inline-block;
                min-width: {{ index $s "page-content-width-factor" }}rem;
                max-width: {{ index $s "page-content-width-factor" }}rem;

                @media only screen and (max-width: {{ mul (index $s "page-content-width-factor") (index $s "font-size") }}px) {
                    min-width: 100%;
                    max-width: 100%;
                }

                h1,
                h2,
                h3,
                h4,
                div,
                ul,
                ol,
                p {
                    margin-top: 1rem;
                    margin-bottom: 1rem;

                    code {
                        background: var(--code-background-color);
                        color: var(--code-foreground-color);
                        padding: 0.125rem;
                    }
                }

                h1 {
                    font-size: {{ index $s "font-size-h1" }}rem;
                }

                h2 {
                    font-size: {{ index $s "font-size-h2" }}rem;
                }

                h3 {
                    font-size: {{ index $s "font-size-h3" }}rem;
                }

                h4 {
                    font-size: {{ index $s "font-size-h4" }}rem;
                }

                span.post-meta {
                    a.tag {
                        display: inline-block;
                        padding: .25rem .75rem;
                        margin: 0 .5rem;
                        border-radius: .25rem;
                        white-space: nowrap;
                        background: var(--content-tag-background-color);
                        color: var(--content-tag-foreground-color);
                    }
                }

                ul,
                ol {
                    margin-left: 1.5rem;

                    li {
                        margin-top: 0.5rem;
                        margin-bottom: 0.5rem;
                    }
                }

                img {
                    max-width: 100%;
                }

                blockquote {
                    font-style: italic;
                    border: 0.1rem solid var(--border-color);
                    margin: 0.5rem;

                    p {
                        padding: 0.5rem;
                    }
                }

                div.highlight {
                    /* Background */
                    .bg {
                        color: var(--code-chroma-fg);
                        background-color: var(--code-chroma-bg);
                    }

                    /* PreWrapper */
                    .chroma {
                        color: var(--code-chroma-fg);
                        background-color: var(--code-chroma-bg);

                        .x {}
                        .err { color: var(--code-chroma-dark-red-fg); background-color: var(--code-chroma-dark-red-bg); }
                        .cl {}
                        .lnlinks { outline: none; text-decoration: none; color: inherit; }
                        .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
                        .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
                        .hl { background-color: var(--code-chroma-dark-gray-fg); }
                        .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: var(--code-chroma-light-gray-fg); }
                        .ln  { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: var(--code-chroma-light-gray-fg); }
                        .line { display: flex; }
                        .k  { color: var(--code-chroma-light-blue-fg); }
                        .kc { color: var(--code-chroma-light-blue-fg); }
                        .kd { color: var(--code-chroma-light-blue-fg); }
                        .kn { color: var(--code-chroma-red-fg); }
                        .kp { color: var(--code-chroma-light-blue-fg); }
                        .kr { color: var(--code-chroma-light-blue-fg); }
                        .kt { color: var(--code-chroma-light-blue-fg); }
                        .n  {}
                        .na { color: var(--code-chroma-green-fg); }
                        .nb {}
                        .bp {}
                        .nc { color: var(--code-chroma-green-fg); }
                        .no { color: var(--code-chroma-light-blue-fg); }
                        .nd { color: var(--code-chroma-green-fg); }
                        .ni {}
                        .ne { color: var(--code-chroma-green-fg); }
                        .nf { color: var(--code-chroma-green-fg); }
                        .fm {}
                        .nl {}
                        .nn {}
                        .nx { color: var(--code-chroma-green-fg); }
                        .py {}
                        .nt { color: var(--code-chroma-red-fg); }
                        .nv {}
                        .vc {}
                        .vg {}
                        .vi {}
                        .vm {}
                        .l  { color: var(--code-chroma-purple-fg); }
                        .ld { color: var(--code-chroma-yellow-fg); }
                        .s  { color: var(--code-chroma-yellow-fg); }
                        .sa { color: var(--code-chroma-yellow-fg); }
                        .sb { color: var(--code-chroma-yellow-fg); }
                        .sc { color: var(--code-chroma-yellow-fg); }
                        .dl { color: var(--code-chroma-yellow-fg); }
                        .sd { color: var(--code-chroma-yellow-fg); }
                        .s2 { color: var(--code-chroma-yellow-fg); }
                        .se { color: var(--code-chroma-purple-fg); }
                        .sh { color: var(--code-chroma-yellow-fg); }
                        .si { color: var(--code-chroma-yellow-fg); }
                        .sx { color: var(--code-chroma-yellow-fg); }
                        .sr { color: var(--code-chroma-yellow-fg); }
                        .s1 { color: var(--code-chroma-yellow-fg); }
                        .ss { color: var(--code-chroma-yellow-fg); }
                        .m  { color: var(--code-chroma-purple-fg); }
                        .mb { color: var(--code-chroma-purple-fg); }
                        .mf { color: var(--code-chroma-purple-fg); }
                        .mh { color: var(--code-chroma-purple-fg); }
                        .mi { color: var(--code-chroma-purple-fg); }
                        .il { color: var(--code-chroma-purple-fg); }
                        .mo { color: var(--code-chroma-purple-fg); }
                        .o  { color: var(--code-chroma-red-fg); }
                        .ow { color: var(--code-chroma-red-fg); }
                        .p  {}
                        .c  { color: var(--code-chroma-medium-gray-fg); }
                        .ch { color: var(--code-chroma-medium-gray-fg); }
                        .cm { color: var(--code-chroma-medium-gray-fg); }
                        .c1 { color: var(--code-chroma-medium-gray-fg); }
                        .cs { color: var(--code-chroma-medium-gray-fg); }
                        .cp { color: var(--code-chroma-medium-gray-fg); }
                        .cpf { color: var(--code-chroma-medium-gray-fg); }
                        .g  {}
                        .gd { color: var(--code-chroma-red-fg); }
                        .ge { font-style: italic; }
                        .gr {}
                        .gh {}
                        .gi { color: var(--code-chroma-green-fg); }
                        .go {}
                        .gp {}
                        .gs { font-weight: bold; }
                        .gu { color: var(--code-chroma-medium-gray-fg); }
                        .gt {}
                        .gl {}
                        .w  {}
                    }

                    pre {
                        border: 0.1rem solid var(--border-color);
                        overflow-x: scroll;
                        margin: 0.5rem;
                        padding: 0.5rem;
                    }
                }

                div.models3d div.model3d model-viewer {
                    width: 28rem;
                    height: 21rem;
                }

                div.pagination {
                    text-align: center;

                    ul.pagination {
                        list-style: none;
                        display: inline-block;

                        li.page-item {
                            float: left;
                            margin: 0.5rem;

                            a {
                                display: inline-block;
                                color: var(--menu-foreground);
                                background-color: var(--menu-background);
                                line-height: 2.2rem;
                                padding-right: 1.1rem;
                                padding-left: 1.1rem;
                                border-radius: 0.25rem;
                                border: 0.1rem solid var(--border-color);

                                &:hover {
                                    background-color: var(--menu-item-hover-background);
                                    color: var(--menu-item-hover-foreground);
                                }

                                &:visited {
                                    color: var(--foreground-color);
                                }
                            }
                        }
                    }
                }
            }
        }

        footer.footer {
            text-align: center;
            border-top: 0.1rem solid var(--border-color);

            div.content {
                display: inline-block;
                max-width: {{ index $s "page-content-width-factor" }}rem;

                p {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
