{{ define "main" }}
<div class="content">
  {{ if eq .Data.Plural "tags" }}
  <h1>Posts about: {{ .Title | lower }}</h1>
  {{ else }}
  <h1>{{ .Title }}</h1>
  {{ end }}

  {{ .Content }}

  <div class="posts">
    {{ range .Pages }}
    <div class="post">
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      <span class="post-meta">
        {{ .Date.Format "2006-01-02" }}

        {{ if not .Site.Params.hideReadingTime }}
        &middot; {{ .ReadingTime }} {{ i18n "minute-read" }}
        {{ end }}

        {{ if isset .Params "tags" }}
        &middot;
        {{ range .Params.tags }}<a class="tag" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
        {{ end }}
      </span>
      <p>{{ .Summary }}</p>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
