/*********************************************************************
 * Import fontawesome
 */
$fa-font-path: "/fonts/fontawesome";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";

/*********************************************************************
 * Import math and helper functions
 */
@import "./functions.scss";


/********************************************************************
 * Variables
 */

/* Base font size in px */
$fontSize: 16;
$pageWidth: #{$fontSize * 50}px;

/* Colors */
$darkBackgroundColor: #171717;
$darkForegroundColor: #FFFFFF;
$lightBackgroundColor: #F4F4F4;
$lightForegroundColor: #000000;

$linkColor: #00B0FB;
$visitedLinkColor: #FF047E;

/* Dark colors */
$darkMenuHoverColor: lighten($darkBackgroundColor, 10%);
$darkCodeLanguageBoxColor: $darkMenuHoverColor;
$darkContentDelimiters: contrast-color($darkForegroundColor, $darkBackgroundColor);
$darkForegroundColor: contrast-color($darkForegroundColor, $darkBackgroundColor);

$lightMenuHoverColor: darken($lightBackgroundColor, 10%);
$lightCodeLanguageBoxColor: $lightMenuHoverColor;
$lightContentDelimiters: contrast-color($lightForegroundColor, $lightBackgroundColor);
$lightForegroundColor: contrast-color($lightForegroundColor, $lightBackgroundColor);


/********************************************************************
 * Mixins
 */

// Mixins with the variables for the color themes.
@mixin light-theme() {
    --background-color: #{$lightBackgroundColor};
    --blockquote-background-color: #{$lightCodeLanguageBoxColor};
    --blockquote-before-foreground-color: #{contrast-color($lightForegroundColor, $lightCodeLanguageBoxColor, 2)};
    --blockquote-foreground-color: #{contrast-color($lightForegroundColor, $lightCodeLanguageBoxColor)};
    --content-delimiter-color: #{$lightContentDelimiters};
    --external-link-image: url("/img/external-arrow-dark.svg");
    --foreground-color: #{$lightForegroundColor};
    --content-tag-background-color: #{$lightCodeLanguageBoxColor};
    --content-tag-foreground-color: #{contrast-color($lightForegroundColor, $lightCodeLanguageBoxColor)};
    --content-code-background-color: #{$lightCodeLanguageBoxColor};
    --content-code-foreground-color: #{contrast-color($lightForegroundColor, $lightCodeLanguageBoxColor)};
    --link-color: #{contrast-color($linkColor, $lightBackgroundColor)};
    --link-menu-hover-visited-color: #{contrast-color($visitedLinkColor, $lightMenuHoverColor)};
    --link-visited-color: #{contrast-color($visitedLinkColor, $lightBackgroundColor)};
    --menu-hover-background-color: #{$lightMenuHoverColor};
    --menu-hover-foreground-color: #{contrast-color($linkColor, $lightMenuHoverColor)};
    --advert-background-color: #26101b;
    --advert-foreground-color: #d58bcc;
    --advert-border-color: #{$lightContentDelimiters};
    --advert-marker-background-color: #4a2739;
    --advert-marker-foreground-color: #e6c0e1;
}

@mixin dark-theme() {
    --background-color: #{$darkBackgroundColor};
    --blockquote-background-color: #{$darkCodeLanguageBoxColor};
    --blockquote-before-foreground-color: #{contrast-color($darkForegroundColor, $darkCodeLanguageBoxColor, 2)};
    --blockquote-foreground-color: #{contrast-color($darkForegroundColor, $darkCodeLanguageBoxColor)};
    --content-delimiter-color: #{$darkContentDelimiters};
    --external-link-image: url("/img/external-arrow-light.svg");
    --foreground-color: #{$darkForegroundColor};
    --content-tag-background-color: #{$darkCodeLanguageBoxColor};
    --content-tag-foreground-color: #{contrast-color($darkForegroundColor, $darkCodeLanguageBoxColor)};
    --content-code-background-color: #{$darkCodeLanguageBoxColor};
    --content-code-foreground-color: #{contrast-color($darkForegroundColor, $darkCodeLanguageBoxColor)};
    --link-color: #{contrast-color($linkColor, $darkBackgroundColor)};
    --link-menu-hover-visited-color: #{contrast-color($visitedLinkColor, $darkMenuHoverColor)};
    --link-visited-color: #{contrast-color($visitedLinkColor, $darkBackgroundColor)};
    --menu-hover-background-color: #{$darkMenuHoverColor};
    --menu-hover-foreground-color: #{contrast-color($linkColor, $darkMenuHoverColor)};
    --advert-background-color: #26101b;
    --advert-foreground-color: #d58bcc;
    --advert-border-color: #{$darkContentDelimiters};
    --advert-marker-background-color: #4a2739;
    --advert-marker-foreground-color: #e6c0e1;
}


/********************************************************************
 * Define CSS variables for theme support
 */
:root {
    --font-size: #{$fontSize}px;

    @include light-theme();
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-theme();
    }
}


/********************************************************************
 * Apply a natural box layout model to all elements
 */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

/********************************************************************
 * THEME
 */
html {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: sans;
    font-size: var(--font-size);

    body {
        line-height: 1.5;
        margin: 1rem auto;
        max-width: $pageWidth;
        padding: 1rem;

        h1,
        h2,
        h3,
        h4 {
            font-family: sans;
        }

        a {
            color: var(--link-color);

            &:visited {
                color: var(--link-visited-color);
            }

            &[href^="mailto"]::after,
            &[href^="http://"]::after,
            &[href^="https://"]::after {
                content: "";
                width: 0.7rem;
                height: 0.7rem;
                margin-left: 0.3rem;
                background-image: var(--external-link-image);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
            }
        }

        /****************************************************************
         * NAVIGATION
         */
        header {
            aside#advert a {
                display: block;
                text-decoration: none;
                margin: 0 4rem 2rem 4rem;
                padding: 2rem 1.5rem 1.5rem 1.5rem;
                border: 0.1rem solid var(--advert-border-color);
                text-align: center;
                background-color: var(--advert-background-color);
                color: var(--advert-foreground-color);
                border-radius: .25rem;

                &::after {
                    content: 'Ad';
                    font-size: .75rem;
                    background-image: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: fit-content;
                    height: fit-content;
                    padding: .4rem .6rem;
                    margin-left: 0;
                    background-color: var(--advert-marker-background-color);
                    color: var(--advert-marker-foreground-color);
                    border-radius: .25rem 0;
                }
            }

            nav {
                font-family: monospace;

                /* Make a border on top and bottom */
                border-width: 0;
                border-bottom-width: 0.2rem;
                border-top-width: 0.2rem;
                border-color: var(--content-delimiter-color);
                border-style: solid;

                /* Center items */
                text-align: center;

                /* http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
                font-size: 0;

                ul {
                    display: inline-block;

                    margin: 0;
                    padding: 0;

                    list-style: none;

                    li {
                        float: left;

                        a {
                            display: inline-block;

                            font-size: 1.2rem;
                            line-height: 3.4rem;
                            padding-right: 1rem;
                            padding-left: 1rem;

                            color: var(--link-color);

                            &:visited {
                                color: var(--link-visited-color);
                            }

                            &:hover {
                                background-color: var(--menu-hover-background-color);
                                color: var(--menu-hover-foreground-color);

                                &:visited {
                                    color: var(--link-menu-hover-visited-color);
                                }
                            }
                        }
                    }
                }
            }
        }

        div.wrapper div.content {
            span.post-meta a.tag {
                display: inline-block;
                padding: .25rem .75rem;
                margin: 0 .5rem;
                border-radius: .25rem;
                white-space: nowrap;

                background: var(--content-tag-background-color);
                color: var(--content-tag-foreground-color);
            }

            p {
                img {
                    max-width: 100%;
                }

                code {
                    font-family: monospace;
                    padding: .25rem;
                    border-radius: .25rem;
                    background: var(--content-code-background-color);
                    color: var(--content-code-foreground-color);
                }
            }

            blockquote {
                margin: 0;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;

                padding-top: 0.4rem;
                padding-bottom: 0.4rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;

                background: var(--blockquote-background-color);
                color: var(--blockquote-foreground-color);

                &:before {
                    content: 'â€';
                    position: absolute;
                    right: 0;
                    top: -1rem;
                    font-size: 4rem;
                    color: var(--blockquote-before-foreground-color);
                }
            }

            div.highlight {
                code {
                    &::before {
                        display: block;
                        font-family: sans;
                        font-size: 0.8em;
                        margin-bottom: 0.5em;
                        text-align: center;
                    }

                    &.language- {
                        &bash::before {
                            content: "Bash";
                        }

                        &elisp::before {
                            content: "Emacs Lisp";
                        }

                        &go::before {
                            content: "Go";
                        }

                        &nix::before {
                            content: "Nix";
                        }

                        &org::before {
                            content: "Org Mode";
                        }

                        &php::before {
                            content: "PHP";
                        }

                        &scss::before {
                            content: "SCSS";
                        }

                        &sh::before {
                            content: "Shell";
                        }

                        &sql::before {
                            content: "SQL";
                        }

                        &xml::before {
                            content: "XML";
                        }

                        &yaml::before {
                            content: "YAML";
                        }
                    }
                }

                >pre {
                    padding: 1rem;
                    border-radius: .25rem;

                    overflow-x: scroll;
                }
            }

            div.pagination {
                text-align: center;

                ul.pagination {
                    display: inline-block;
                    list-style: none;

                    li {
                        float: left;

                        padding-right: 0.1rem;
                        padding-left: 0.1rem;

                        a {
                            display: inline-block;

                            font-size: 1.2rem;
                            line-height: 2.6rem;
                            padding-right: 1rem;
                            padding-left: 1rem;

                            border-radius: 0.3rem;

                            color: var(--link-color);

                            /* Make a border */
                            border-width: 0.1rem;
                            border-color: var(--content-delimiter-color);
                            border-style: solid;

                            &:visited {
                                color: var(--link-visited-color);
                            }

                            &:hover {
                                background-color: var(--menu-hover-background-color);
                                color: var(--menu-hover-foreground-color);

                                &:visited {
                                    color: var(--link-menu-hover-visited-color);
                                }
                            }
                        }
                    }
                }
            }
        }

        footer {
            /* Make a border on top and bottom */
            border-width: 0;
            border-bottom-width: 0.2rem;
            border-top-width: 0.2rem;
            border-color: var(--content-delimiter-color);
            border-style: solid;
        }
    }
}
