{{ define "main" }}
<div class="content">
    {{ if (.Title | len) }}
        <h1>{{ .Title }}</h1>
    {{ end }}

    {{ if .Site.Taxonomies.tags }}
        <ul class="tags">
            {{ $counts := slice }}
            {{ range $key, $pages := .Site.Taxonomies.tags }}
                {{ $counts = $counts | append (dict "key" $key "count" (len $pages)) }}
            {{ end }}
            {{ range first 8 (sort $counts "count" "desc") }}
                {{ with site.GetPage (printf "/tags/%s" .key) }}
                    <li><a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    {{ end }}

    {{ .Content }}

    {{ $popularPosts := sort (where .Site.RegularPages "Params.popularrank" "!=" nil) "Params.popularrank" }}
    {{ $featuredPosts := where .Site.RegularPages "Params.featured" true }}
    {{ with $popularPosts | append $featuredPosts }}
        <h2>~elis/popular-posts/</h2>
        <ul>
            {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    {{ end }}

    {{ with .Params.homepageFooter }}
        {{ . | markdownify }}
    {{ end }}

    {{ if .Params.showPostsListing }}
        <hr>
        <div class="posts">
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
            {{ range $paginator.Pages }}
                <div class="post">
                    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

                    {{- partial "blog-post-meta.html" . -}}

                    <p>{{ .Summary }}</p>

                    <a href="{{ .RelPermalink }}">{{ i18n "read-on" }} &rarr;</a>
                </div>
            {{ end }}
            <div class="pagination">
                {{ template "_internal/pagination.html" . }}
            </div>
        </div>
    {{ end }}
</div>
{{ end }}
