{{ define "main" }}
<div class="content">
    {{ if (.Title | len) }}
    <h1>{{ .Title }}</h1>
    {{ end }}
    {{ .Content }}
    <div class="posts">
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        {{ range $paginator.Pages }}
        <div class="post">
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <span class="post-date">
                {{ .Date.Format "2006-01-02" }}
                {{ if not .Site.Params.hideReadingTime }}
                &middot; {{ .ReadingTime }} {{ i18n "minute-read" }}
                {{ end }}
            </span>

            {{ if eq .Site.Params.truncate false }}
            {{ .Content }}
            {{ else if .Description }}
            <p>{{ .Description }}</p>
            <a href="{{ .RelPermalink }}">{{ i18n "read-on" }} &rarr;</a>
            {{ else }}
            <p>{{ .Summary }}</p>
            {{ if .Truncated }}<a href="{{ .RelPermalink }}">{{ i18n "read-on" }} &rarr;</a>{{ end }}
            {{ end }}
        </div>
        {{ end }}
        <div class="pagination">
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
</div>
{{ end }}
