<header>
    <aside id="advert">
        <a href="https://taserud.net/en/?mtm_campaign=ElisNuTopBanner" target="_blank">
            Are you looking for IT consultancy services in the NixOS, Linux,
            Kubernetes, DevOps space? Check out <u>Taserud Consulting AB</u>.
        </a>
    </aside>

    <nav>
        {{ if (isset .Site.Menus "main") }}
        <ul>
            {{ if isset .Site.Params "home"}}
            <li><a href="{{ .Site.Params.homeUrl | relURL }}">{{ .Site.Params.home }}</a></li>
            {{ end }}
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>
</header>
