---
baseURL: 'https://elis.nu/'
defaultContentLanguage: en
title: 'Elis Hirwing'
theme: albatross

# Style code highlights with classes rather than inline styles.
markup:
  highlight:
    noClasses: false

params:
  copyrightOwner: '2010 Elis Hirwing'

  ogImagePath: ''
  iconPath: /img/elis.webp
  showLogo: false

  extraHeaderContent: |-
    <aside id="padding"></aside>

  extraHeadContent: |-
    <link rel="me" href="https://chaos.social/@sa0bse">

    <style>
      aside#padding {
        padding: 2rem;
      }
    </style>

    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension"
         should be called before "trackPageView" */
      _paq.push(['disableCookies']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//matomo.elis.nu/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d=document,
            g=d.createElement('script'),
            s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

  style:
    # Base font size in px
    font-size: 16

    # Page content width factor
    page-content-width-factor: 48

    # Toggle to enable or disable the CSS rules for the food menu layout,
    # set to 'true' to enable or 'false' to disable.
    page-include-food-menu-styles: 'false'

    # Light colors
    light-background-color: '#F4F4F4'
    light-border-color: '#525252'
    light-link-default-color: 'contrast-color(#00B0FB, $light-background-color)'
    light-link-visited-color: 'contrast-color(#FF047E, $light-background-color)'
    light-menu-background: '#F4F4F4'
    light-menu-foreground: 'contrast-color(#00B0FB, $light-menu-background)'

    # Dark colors
    dark-background-color: '#171717'
    dark-border-color: '#a6a6a6'
    dark-link-default-color: 'contrast-color(#00B0FB, $dark-background-color)'
    dark-link-visited-color: 'contrast-color(#FF147E, $dark-background-color)'
    dark-menu-background: '#171717'
    dark-menu-foreground: 'contrast-color(#00B0FB, $dark-menu-background)'

languages:
  en:
    languageCode: en-gb

    params:
      homeUrl: /

    menu:
      main:
        - name: '~elis/'
          url: /
          weight: 10
        - name: './about/'
          url: /about/
          weight: 20
        - name: './work/'
          url: /work/
          weight: 30
        - name: './talks/'
          url: /talks/
          weight: 40
        - name: './blog/'
          url: /blog/
          weight: 50
        - name: './3d-models/'
          url: /3d-models/
          weight: 60
        - name: './cubing/'
          url: /cubing/
          weight: 60

      i18n:
        - name: se
          url: /sv/
          weight: 10
  sv:
    languageCode: sv-se

    params:
      homeUrl: /sv/

      extraHeaderContent: |-
        <aside id="advert">
          <a href="https://taserud.net/?mtm_campaign=ElisNuTopBanner"
            target="_blank">
            Letar du efter IT-konsulttjänster inom NixOS, Linux,
            Kubernetes, DevOps? Kolla in <u>Taserud Consulting AB</u>.
          </a>
        </aside>

    menu:
      main:
        - name: '~elis/'
          url: /sv/
          weight: 10
        - name: './om/'
          url: /sv/about/
          weight: 20
        - name: './arbete/'
          url: /sv/work/
          weight: 30
        - name: './föredrag/'
          url: /sv/talks/
          weight: 40

      i18n:
        - name: gb
          url: /
          weight: 10
