/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

body, html {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;

    margin: 0;
    padding: 0;

    background: #121212;
    color: #E2E2E2;
}

/********************************************************************
 * NAVIGATION
 */
nav {
    background: #1F1F1F;
    box-shadow: 0px 5px 10px #000000;

    font-family: Monospace, 'Droid Sans Mono', Arial, sans-serif;

    width: 697px;
    width: 41rem;

    margin-left: auto;
    margin-right: auto;

    text-align: center;

    margin-top: 34px;
    margin-top: 2rem;

    overflow: auto;

    font-size: 0; /* http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
}

nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;

    list-style: none;
}

nav ul li {
    float: left;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

nav ul li a {
    display: inline-block;

    font-size: 20px;
    font-size: 1.2rem;

    line-height: 51px;
    line-height: 3rem;

    padding: 0 17px 0 17px;
    padding: 0 1rem 0 1rem;

    text-decoration: none;
    color: #E2E2E2;
    outline: 0px;

    width: 100%;
}

nav ul li:hover {
    background: #000000;
}

/********************************************************************
 * BODY
 */
div#content, div#postamble {
    width: 697px;
    width: 41rem;

    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    margin-top: 1rem;

    padding: 18px;
    padding: 1rem;

    background: #1F1F1F;
    box-shadow: 0px 5px 10px #000000;

    overflow: hidden;
}

div#postamble {
    margin-bottom: 34px;
    margin-bottom: 2rem;
}

/********************************************************************
 * Override some styles from default org
 */
pre {
    border: 1px solid #000000;
    box-shadow: 0px 5px 10px #000000;
}

.title {
    text-align: left;

    margin-top: 9px;
    margin-top: 0.5rem;
    margin-bottom: 9px;
    margin-bottom: 0.5rem;
}

/** Make the links more readable in my dark theme */
div#content a:link    { color: #5e5bff; }  /* unvisited links */
div#content a:visited { color: #b059ff; }  /* visited links   */

/********************************************************************
 * Media-queries for mobiles
 */
@media (max-width: 700px) {
    nav {
        width: 100%;
    }
    div#content, div#postamble {
        width: 100%;
    }
    header {
        font-size: 68px;
        font-size: 4rem;
    }
}

@media (max-width: 480px) {
    nav ul {
        width: 100%;
    }
    nav ul li {
        width: 100%;
        display: block;
    }
}
