---
name: Check

'on':
  push:
  pull_request:

jobs:
  format:
    name: File formatting
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@v14
      - uses: DeterminateSystems/magic-nix-cache-action@v8

      - run: 'nix fmt . -- --check'
      - run: 'nix run nixpkgs#yamllint -- --strict --format github .'
      - run: 'nix run nixpkgs#deadnix -- --fail .'
      - run: 'nix run nixpkgs#statix -- check --config .statix.toml'

  check:
    name: Check flake
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@v14
      - uses: DeterminateSystems/magic-nix-cache-action@v8

      - run: 'nix flake check'
      - run: 'nix build .#website'
