---
name: Publish

'on':
  push:
    branches:
      - main

concurrency:
  group: ci-${{ github.ref }}-deploy
  cancel-in-progress: true

jobs:
  publish:
    name: Publish website
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - run: nix build

      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./result
